{% extends 'base.html' %}

{% block content %}

<div class="card text-center mx-auto" style="width: 80%;">
    <div class="card-header">
      <h2>{{plan.title}}</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{plan.target}}</h5>
      <p class="card-text">{{plan.description}}</p>
      <a href="{% url 'update_plan' plan.id %}" class="btn btn-primary">EDIT</a>
    </div>
    <div class="card-footer text-muted">
      Created on - {{plan.create_date}}
    </div>
</div>

make progress model below
{% endblock %}