{% extends 'base.html' %}

{% block content %}
<form action="{% url 'update_plan' plan.id %}" method="post">
    {% csrf_token %}
    <div class="form-group" style="margin-left:40px;">
        <!-- {{form.as_table}} -->
        {% for field in form %}
        <div style="margin-top:20px">
            <label class="form-label"><strong>{{ field.label }}: </strong></label>
            {{field}}
            {% endfor %}
            <input type="submit" value="Update" class="btn btn-primary" style="margin-left:10px">
        </div>
    </div>
</form>
{% endblock %}